<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="thinkgreen_reparation" id="thinkgreen_reparation">
			<module before="Magento_Backend" name="ThinkGreen_Reparation"/>
		</route>
	</router>
</config>
